<div class="body_info_singlepage">
  <section class="section_welcome">
    <div class="section_welcome_title">Pricing and Signup</div>
    <br><br><br>
    <div class="section_welcome_subtitle">ZweiDesign represents many of the most successful professionals working in architecture, interior design, arts and construction experts,
    and provides a range of strategic marketing and consulting services to corporate clients.</div>
  </section>
    <!-- <div class="section_welcome_subtitle">
      ZweiDesign represents many of very talented and successful professionals working in architecture, interior design and construction,
      and provides a range of strategic marketing and consulting services to their clients.
    </div> -->
  <section class="section_divided">
    <div class="section_divided_part">
      <div class="section_divided_part_title">FREE</div>
      <br>
      <br>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-check"> </i> Profile & portfolio</div>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-check"> </i> Social share (FB, Twitter, Pinterest)</div>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-check"> </i> Clients can find & contact you</div>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-times"></i> Custom job offers</div>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-times"></i> Personal marketing agent </div>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-times"></i> Cost & profit Dashboard </div>
      <br><br><br>
      <div class="section_divided_part_price">FREE</div>
      <br>
      <%= link_to "SIGN UP", new_user_registration_path %>
    </div>
    <div class="section_divided_part">
      <div class="section_divided_part_title">BASIC</div>
      <br>
      <br>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-check"> </i> Profile & portfolio</div>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-check"> </i> Social share (FB, Twitter, Pinterest)</div>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-check"> </i> Clients can find & contact you</div>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-check"> </i> Custom job offers</div>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-times"></i> Personal marketing agent </div>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-times"></i> Cost & profit Dashboard </div>
      <br><br><br>
      <div class="section_divided_part_price">7€ PER MONTH</div>
      <br>
      <%= link_to "SIGN UP", new_user_registration_path %>
    </div>
    <div class="section_divided_part">
      <div class="section_divided_part_title">PREMIUM</div>
      <br>
      <br>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-check"> </i> Profile & portfolio</div>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-check"> </i> Social share (FB, Twitter, Pinterest)</div>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-check"> </i> Clients can find & contact you</div>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-check"> </i> Custom job offers</div>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-check"> </i> Personal marketing agent</div>
      <br>
      <div class="section_divided_part_subtitle"><i class="fa fa-check"> </i> Cost & profit Dashboard </div>
      <br><br><br>
      <div class="section_divided_part_price">27€ PER MONTH</div>
      <br>
      <%=link_to "SIGN UP", pricing_path %>
      </div>
  </section>
  <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title">90-DAY MONEY BACK GUARANTEE</div>
    <div class="section_our_team_subtitle">No contracts. No risk. Cancel or put your account on hold at anytime.</div>
  </section>

 <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title">BILLED MONTHLY</div>
    <div class="section_our_team_subtitle">No pay-per-bid or percentage of project fees. Keep 100% of your earnings.</div>
  </section>

   <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title">COMPETE WITH TENS, NOT HUNDREDS</div>
    <div class="section_our_team_subtitle">A small, exclusive professionals' marketplace. Every portfolio is reviewed for quality.</div>
  </section>
  <section class="section_welcome">
    <div class="section_welcome_subtitle">Are your not sure what offer would be the best for your company? <%= link_to "Send us an email!", "mailto:contact@zweidesign.co" %></div>
  </section>
  <section class="section_form">
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="//sosed.us4.list-manage.com/subscribe/post?u=e833ef94f0704d1475029ac8e&amp;id=5387f2bff4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL"><%=I18n.t'staticpages-info.mailchimp.title'%></label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="<%=I18n.t'staticpages-info.mailchimp.placeholder'%>" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div class="clear"><input type="submit" value="<%=I18n.t'staticpages-info.mailchimp.submit'%>" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    <!--End mc_embed_signup-->
  </section>
</div>
