<%= form_for :conversation, url: :conversations do |f| %>
  <%= f.text_field :recipients %>
  <%= f.text_field  :subject %>
  <%= f.text_field  :body, as: :text %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>