
<div class="body_users_index">
<div class="columns" id="main" role="main">
<div class="index_welcome_message">
 <div class="index_welcome_message_title">
    CodingAmigas & Amigos
  </div>
  <div class="index_welcome_message_subtitle">
    Share values & current hacks
    with your community!
  </div>
</div>
<ul id="tiles" class="wookmark">
<% if @users.present? %>
  <% @sorted_users.each do |user| %>
  <div class="lead_box">
    <div class="lead_title"><%= link_to "#{user.first_name}", user_path(user) %></div>
    <div class="lead_body">
      <div class="lead_subtitle_image" ></div>
        <%= link_to "#{image_tag user.picture.url(:large), :width => '287'}".html_safe, user_path(user) %> <br><br>
      <% if user.city.present? %>
        <div class="lead_subtitle"><i class="fa fa-map-marker"></i> <%= user.city %></div>
        <br>
      <% end %>
      <% if user.status_updates.present? %>
        <div class="lead_subtitle">Updates:</div>
         <%= user.status_updates %>
           <br><br>
      <% end %>
      <% if user.bio.present? %>
        <div class="lead_subtitle">Philosophy, Values, Interests:</div>
         <%= user.bio %>
           <br><br>
      <% end %>
      <% if user.service.present? %>
        <div class="lead_subtitle">Skills:</div>
         <%= user.service %>
           <br><br>
      <% end %>
      <% if user.projects.any? %>
        <div class="lead_subtitle">
          What I do:
        </div><br>
        <% user.projects.each do |project| %>
          <li><%=link_to "#{image_tag project.picture.url(:thumb), :width => "25"} #{project.title}".html_safe, project_path(project) %></li><br><br>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>
</ul>
</div>
</div>
