
<div class="body_users_index">
<div class="columns" id="main" role="main">
<div class="index_welcome_message">
 <div class="index_welcome_message_title">
    CodingAmigos
  </div>
  <div class="index_welcome_message_subtitle">
    Join the Community of Entrepreneurial Developerinas and Developers with an Activist Streak.
  </div>
</div>
<div class="chat_button"><%=link_to "Join the chat", chat_path%></div>
<ol id="filters">
  <li data-filter="Available for hire">
    Available for hire
  </li>
  <li data-filter="Interested in Collaboration">
    Interested in Collaboration
  </li>
  <li data-filter="Searching for co-founder">
    Searching for co-founder
  </li>
  <li data-filter="Employed">
    Employed
  </li>
  <li data-filter="Looking for a job">
    Looking for a job
  </li>
  <li data-filter="Busy">
    Busy
  </li>
  <li data-filter="Just making burritos and playing La Cucaracha">
    Just making burritos and playing La Cucaracha
  </li>
</ol>
<ul id="tiles" class="wookmark">
<% if @users.present? %>
  <% @sorted_users.each do |user| %>
  <div class="lead_box" data-filter-class='["<%= user.status %>"]'>
    <div class="lead_title"><%= link_to "#{user.first_name}", user_path(user) %></div>
    <div class="lead_body">
      <div class="lead_subtitle_image" ></div>
        <%= link_to "#{image_tag user.picture.url(:large), :width => '287', :height => '287'}".html_safe, user_path(user) %> <br><br>
      <% if user.city.present? %>
        <div class="lead_subtitle"><i class="fa fa-map-marker"></i> <%= user.city %></div>
        <br>
      <% end %>
      <% if user.service.present? %>
        <div class="lead_subtitle">Skills:</div>
         <%= user.service %>
           <br><br>
      <% end %>
      <div class="lead_subtitle"><%=link_to "More about this member >>", user_path(user) %></div>
    </div>
  </div>
  <% end %>
<% end %>
</ul>
</div>
</div>
