<div class="body_users_index">

<div class="columns">

<ul class="wookmark">
<% if @user.present? %>
    <div class="lead_box">
      <% if @user.first_name.present? %>
        <div class="lead_title"><%= @user.first_name %> </div>
      <% end %>
      <div class="lead_body">
        <div class="lead_subtitle" ></div>
          <%= link_to "#{image_tag @user.picture.url(:thumb)}".html_safe, user_path(@user) %><br>

          <% if @user.city.present? %>
            <div class="lead_subtitle"><i class="fa fa-map-marker"></i> <%= @user.city %></div>
            <br>
          <% end %>
          <% if @user.status_updates.present? %>
            <div class="lead_subtitle">Updates:</div>
             <%= @user.status_updates %>
               <br><br>
          <% end %>
          <% if @user.status.present? %>
            <div class="lead_subtitle">Current status:</div>
             <%= @user.status %><br><br>
          <% end %>
          <% if @user.bio.present? %>
            <div class="lead_subtitle">Philosophy, Values, Interests:</div>
             <%= @user.bio %>
               <br><br>
          <% end %>
          <% if @user.service.present? %>
            <div class="lead_subtitle">Skills:</div>
             <%= @user.service %>
               <br><br>
          <% end %>
          <% if @user.website.present? %>
            <div class="lead_subtitle">Website:</div>
             <%= link_to "#{@user.website}", "http://#{@user.website.split('http://').last}" %>
               <br><br>
          <% end %>
          <% if @user.username.present? %>
            <div class="lead_subtitle">Currently working on:</div>
            <a href="https://github.com/<%=@user.username%>?tab=activity">Check my Github activity stream</a>
            <br>
            <br>
          <% end %>
          <br>
          <% if user_signed_in? && current_user == @user %>
          <br>
            <div class="project_show_send_message">
              <%= link_to "#{I18n.t'user-show.edit-profile'}", edit_user_registration_path %>
            </div>
          <% else %>
          <div class="project_show_send_message">
            <a href="http://www.gitter.im/codingamigos/chat">Find me on the chat</a>
          </div>
          <% end %>
      </div>
    </div>
  <% Project.all.where(user_id: @user.id).each do |project| %>
    <div class="lead_box">
      <div class="lead_title"><%= link_to "#{project.title}", project_path(project) %></div>
      <div class="lead_body">
        <div class="lead_subtitle"></div>
          <%= link_to "#{image_tag project.picture.url(:large), :width => '287'}".html_safe, project_path(project) %> <br>
        <div class="lead_subtitle"></div>
        <% if project.description.present? %>
          <div class="lead_show_subtitle"></div>
          <%= project.description %> <br><br>
        <% end %>
        <div class="lead_subtitle"></div>
        <% if current_user.present? %>
          <% if @likes.where(likee_id: project.id, likeable_id: current_user.id).count == 0 %>
                  <%= form_for(current_user.likes.build(likee_id: project.id)) do |l| %>
                    <%= l.hidden_field :likee_id %>
                    <%= l.button do %>
                      <% if @likes.where(likee_id: project.id).count == nil %>
                        <i class="fa fa-heart-o"></i>
                      <% else %>
                        <i class="fa fa-heart-o"></i> <%= @likes.where(likee_id: project.id).count %>
                      <% end %>
                    <% end %>
                  <% end %>
          <% else %>
             <%= form_for(current_user.likes.find_by_likee_id(project.id),
                html: { method: :delete }) do |l| %>
                <%= l.button do %>
                  <% if @likes.where(likee_id: project.id).count == nil %>
                    <i class="fa fa-heart-o"></i>
                  <% else %>
                    <i class="fa fa-heart"></i> <%= @likes.where(likee_id: project.id).count %>
                  <% end %>
                <% end %>
              <% end %>
          <% end %>
        <% else %>
          <div class="like_heart">
            <%= link_to '<i class="fa fa-heart-o"></i>'.html_safe, new_user_session_path %>
            <%= @likes.where(likee_id: project.id).count %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
</ul>
</div>

</div>
