<div class="body_leads_new">
<section class="lead_new_photo">
  <div class="lead_new_explanation">
    <div class="lead_new_explanation_first">
      <i class="fa fa-pencil"></i>         Tell what you need       </div>
    <div class="lead_new_explanation_second">
      <i class="fa fa-check-square-o"></i> Find professionals  </div>
    <div class="lead_new_explanation_third">
      <i class="fa fa-files-o"></i>        Make it work           </div>
  </div>
  <div class="lead_new">
    <div class="lead_new_title">
      <%= I18n.t'lead-new.title' %>
    </div>
    <div class="lead_new_instructions">
      <%= I18n.t'lead-new.instructions' %>
    </div>

    <%= form_for @lead, :url => leads_path, :html => { :multipart => true } do |l| %>
      <%= render "#{@lead.current_step}_step", :l => l %>
      <div class="lead_new_form_submit">
        <%= l.submit "#{I18n.t'lead-new.back'}", :name => "back_button" unless @lead.first_step? %>
        <%= l.submit "#{I18n.t'lead-new.next'}" unless @lead.last_step? %>
        <%= l.submit "#{I18n.t'lead-new.submit'}" if @lead.last_step? %>
      </div>
    <% end %>
  </div>
</section>
</div>
