<footer>
  <div class="footer_container">
    <div class="footer_main_row">
      <div class="footer_column_1">
          <%= image_tag 'sosed.biz.png'%>
          <br><br>
            Coding Amigos is a community of Nomadic Developers with Activist Streak. It is made for people who like what they do and are good at it.
      </div>
      <div class="footer_column_2">
        <div class="footer_column_2_column_3">
          <ul>
            <li>Meet</li>
            <br>
            <li><%= link_to "About", info_path %></li>
            <li><a href="https://gitter.im/codingamigos/chat">Chat</a></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </div>
        <div class="footer_column_2_column_3">
          <ul>
            <li>Learn</li>
            <br>
            <li><a href="http://www.wizardamigos.com/">Wizard Amigos</a></li>
            <li><a href="https://gitter.im/wizardamigosinstitute/program">Help chat</a></li>
          </ul>
        </div>
        <div class="footer_column_2_column_3">
          <ul>
            <li>Links</li>
            <br>
            <li><a href="https://github.com/SquatUp/projects">Squat Up</a></li>
            <li><a href="http://fairydust.agency/">Co-op</a></li>
          </ul>
        </div>
      </div>
      <div class="footer_column_1">
        <ul>
          <li>Contact us today</li>
          <li><%= link_to "we@codingamigos.com", "mailto:we@codingamigos.com"%></li>
          <br>
          <li>Or find us on Gitter</li>
          <li><a href="https://gitter.im/codingamigos/chat">Chat with us</a></li>
        </ul>
      </div>
    </div>
    <div class="footer_social_row">
      <ul>
        <li><a href="https://github.com/codingamigos"><i class="fa fa-github"></i></a></li>
        <li><a href="https://twitter.com/codingamigos"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://gitter.im/codingamigos/chat"><i class="fa fa-comment"></i></a></li>
        <br>
        <br>
        <li class="copyright">&copy; <%= Time.now.year %> CodingAmigos</li>
      </ul>
    </div>
  </div>
</footer>
