
    <h1><%=I18n.t'new-lead.title'%></h1>
    <p>
      <%=I18n.t'new-lead.paragraph-1'%> <%= root_url %>.<br>
    </p>
    <p>
      <%=I18n.t'new-lead.description'%><br>
      <%= @lead_description %>
    </p>
    <p>
      <%=I18n.t'new-lead.paragraph-2'%> <%= link_to "#{I18n.t'new-lead.this-link'}", leads_url %>.
      <br>
      <br>
      <%=I18n.t'new-lead.greeting'%>
    </p>
      <br>
    <p><%=I18n.t'new-lead.nina'%>
      <br>
      <%= root_url %></p>
