<p><%=I18n.t'devise.mailer.reset-password-instructions.title'%>, <%= @resource.email %>!</p>

<p><%=I18n.t'devise.mailer.reset-password-instructions.paragraph-1'%></p>

<p><%= link_to "#{I18n.t'devise.mailer.reset-password-instructions.change-password'}", edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=I18n.t'devise.mailer.reset-password-instructions.paragraph-2'%></p>
<p><%=I18n.t'devise.mailer.reset-password-instructions.paragraph-3'%></p>
